.forecast-container {
  margin-left: 150px;
  align-self: center;
  justify-self: center;
}

.forecast__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

h3 {
  margin: 0;
}
.forecast__element span{
  font-size: 14px;
}
.forecast__element img{
	width: 120px;
	height: 120px;
}
.forecast__element {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.43);
  border-radius: 10px;
  backdrop-filter: blur(6.7px);
  color: white;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
	display: flex;
  align-items: center;
  flex-direction: column;

}
.forecast__element:hover{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.83);
  padding: 25px;
}

.forecast__tempeture{
  display: flex;
  align-items: center;
}
.forecast__box{
  text-align: center;
}

.forecast__day{
  font-weight: 500;
  font-size: 24px;
  border-bottom: 1px white solid;
  padding-bottom: 10px;
}

.forecast__tempeture{
  font-weight: 600;
  font-size: 24px;
}