.forecast-container {
  margin-left: 150px;
  align-self: center;
  justify-self: center;
}

.forecast__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}
.forecast__element span{
  font-size: 14px;
}
.forecast__element img{
	width: 36px;
	height: 36px;
}
.forecast__element {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.43);
  border-radius: 10px;
  backdrop-filter: blur(6.7px);
  min-width: 400px;
  color: white;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
	display: flex;
	justify-content: space-between;
  align-items: center;
}
.forecast__element:first-child {
  min-width: 550px;
  padding: 30px;
}

.forecast__element:not(:first-child) {
  margin-top: 20px;
}
.forecast__element:hover:not(:first-child) {
  min-width: 550px;
  padding: 30px;
}

.forecast__tempeture{
  display: flex;
  align-items: center;
}
.forecast__box{
  text-align: center;
}